.foto {
  grid-area: foto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  transform: translateX(10%);
}

.tenis {
  height: 500px;
  z-index: 2;
  transform: translate(-12%, -5%);
}

.fundo-vermelho {
  z-index: 1;
  border-radius: 50%;
  width: 450px;
  height: 450px;
  background: linear-gradient(179.96deg, #9c0610 0.04%, #cf5c55 99.96%);
  box-shadow: 73px 8px 38px -10px rgba(189, 63, 61, 0.42);
  transform: translate(-10%);
}

.sombra {
  width: 170px;
  height: 50px;
  z-index: 1;
  border-radius: 50%;
  background: rgba(11, 11, 11, 0.55);
  box-shadow: 10px -49px 48px 79px rgba(0, 0, 0, 0.49);
  transform: rotate(27.74deg);
  position: absolute;
  top: 320px;
  left: 10px;
}
