.social {
  width: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Gilda Display', serif;
  color: white;
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: 0.025em;
}

.bar {
  font-size: 2.5rem;
  transform: translateX(-80px);
}

.nomeNike {
  font-size: 17rem;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.07);
  display: flex;
  transform: translateX(-20%);
}

.linkDoBar {
  text-decoration: none;
  color: black;
}
